<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="form-container" data-form-id="{formId}">

    <h2>{settings.rd_contact_plugin.answerMeByEmailLabel}</h2>
    <f:if condition="{settings.rd_contact_plugin.answerMeByEmailFormDescription}">
        <p>{settings.rd_contact_plugin.answerMeByEmailFormDescription}</p>
    </f:if>

    <f:form class="form" action="answermebyemailformHandler" extensionName="rd_contact_plugin" pluginName="EmailActions"
        controller="Email" pageType="453299" method="POST">
        <div class="form-grid">

            <!-- name -->
            <div class="form-cell">
                <label>
                    <span>{settings.rd_contact_plugin.answerMeByEmailForm_field_name_label}</span>
                    <f:form.textfield name="name" placeholder="{settings.rd_contact_plugin.answerMeByEmailForm_field_name_placeholder}"
                        class="form-input" required="TRUE" />
                </label>
            </div>

            <!-- email -->
            <div class="form-cell">
                <label>
                    <span>{settings.rd_contact_plugin.answerMeByEmailForm_field_email_label}</span>
                    <f:form.textfield name="email" placeholder="{settings.rd_contact_plugin.answerMeByEmailForm_field_email_placeholder}"
                        class="form-input" type="email" required="TRUE" />
                </label>
            </div>

            <!-- question -->
            <div class="form-cell">
                <label>
                    <span>{settings.rd_contact_plugin.answerMeByEmailForm_field_question_label}</span>
                    <f:form.textarea name="question" placeholder="{settings.rd_contact_plugin.answerMeByEmailForm_field_question_placeholder}"
                        class="form-input" required="TRUE" />
                </label>
            </div>
        </div>

        <!-- submit -->
        <f:form.submit class="form-submit" value="{settings.rd_contact_plugin.answerMeByEmailForm_field_submit}" />

        <f:form.textfield type="hidden" name="currentURL" value="{f:cObject(typoscriptObjectPath: 'lib.currentURL')}" />

    </f:form>
</div>

</html>