<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:switch expression="{contactOption.optionType}">
    <f:case value="1"></f:case>
    <f:case value="6"></f:case>
    <f:defaultCase>
        <div class="form-container" data-form-id="{formId}">
            <f:switch expression="{contactOption.optionType}">
                <f:case value="2">
                    <f:format.raw>{contactOption.embed}</f:format.raw>
                </f:case>
                <f:case value="3">
                    <h2>{settings.rd_contact_plugin.callMeLabel}</h2>
                    <f:if condition="{settings.rd_contact_plugin.callMeFormDescription}">
                        <p>{settings.rd_contact_plugin.callMeFormDescription}</p>
                    </f:if>

                    <f:form action="callmeformHandler" extensionName="rd_contact_plugin" pluginName="EmailActions"
                        controller="Email" pageType="453299" method="POST">

                        <f:comment>
                            <!-- name -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.callMeForm_field_name_label,
                            name:'name',
                            placeholder:settings.rd_contact_plugin.callMeForm_field_name,
                            required:'TRUE'
                        }" />

                        <f:comment>
                            <!-- phone -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.callMeForm_field_phone_label,
                            name:'phone',
                            mask:settings.rd_contact_plugin.callMeForm_field_phone_mask_template,
                            placeholder:settings.rd_contact_plugin.callMeForm_field_phone,
                            required:'TRUE'
                        }" />


                        <f:if condition="{settings.rd_contact_plugin.useCallMeForm_field_email}">
                            <f:comment>
                                <!-- email -->
                            </f:comment>
                            <f:render section="Input" arguments="{
                                label:settings.rd_contact_plugin.callMeForm_field_email_label,
                                name:'email',
                                type:'email',
                                placeholder:settings.rd_contact_plugin.callMeForm_field_email,
                                required:'TRUE'
                            }" />
                        </f:if>

                        <f:comment>
                            <!-- date -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.callMeForm_field_date_label,
                            name:'date',
                            mask:settings.rd_contact_plugin.callMeForm_field_date_mask_template,
                            placeholder:settings.rd_contact_plugin.callMeForm_field_date_pl
                        }" />

                        <f:comment>
                            <!-- submit -->
                        </f:comment>
                        <f:render section="Submit"
                            arguments="{value:settings.rd_contact_plugin.callMeForm_field_submit}" />

                        <f:form.textfield type="hidden" name="currentURL"
                            value="{f:cObject(typoscriptObjectPath: 'lib.currentURL')}" />
                    </f:form>
                </f:case>
                <f:case value="4">
                    <h2>{settings.rd_contact_plugin.answerMeByEmailLabel}</h2>
                    <f:if condition="{settings.rd_contact_plugin.answerMeByEmailFormDescription}">
                        <p>{settings.rd_contact_plugin.answerMeByEmailFormDescription}</p>
                    </f:if>

                    <f:form action="answermebyemailformHandler" extensionName="rd_contact_plugin"
                        pluginName="EmailActions" controller="Email" pageType="453299" method="POST">

                        <f:comment>
                            <!-- name -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.answerMeByEmailForm_field_name_label,
                            name:'name',
                            placeholder:settings.rd_contact_plugin.answerMeByEmailForm_field_name_placeholder,
                            required:'TRUE'
                        }" />

                        <f:comment>
                            <!-- email -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.answerMeByEmailForm_field_email_label,
                            name:'email',
                            type:'email',
                            placeholder:settings.rd_contact_plugin.answerMeByEmailForm_field_email_placeholder,
                            required:'TRUE'
                        }" />

                        <f:comment>
                            <!-- question -->
                        </f:comment>
                        <f:render section="Textarea" arguments="{
                            label:settings.rd_contact_plugin.answerMeByEmailForm_field_question_label,
                            name:'question',
                            placeholder:settings.rd_contact_plugin.answerMeByEmailForm_field_question_placeholder,
                            required:'TRUE'
                        }" />

                        <f:comment>
                            <!-- submit -->
                        </f:comment>
                        <f:render section="Submit"
                            arguments="{value:settings.rd_contact_plugin.answerMeByEmailForm_field_submit}" />

                        <f:form.textfield type="hidden" name="currentURL"
                            value="{f:cObject(typoscriptObjectPath: 'lib.currentURL')}" />

                    </f:form>
                </f:case>
                <f:case value="5">
                    <h2>{settings.rd_contact_plugin.getAppointmentLabel}</h2>
                    <f:if condition="{settings.rd_contact_plugin.getAppointmentFormDescription}">
                        <p>{settings.rd_contact_plugin.getAppointmentFormDescription}</p>
                    </f:if>

                    <f:form action="getAppointmentformHandler" extensionName="rd_contact_plugin"
                        pluginName="EmailActions" controller="Email" pageType="453299" method="POST">

                        <f:comment>
                            <!-- name -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.getAppointmentForm_field_name_label,
                            name:'name',
                            placeholder:settings.rd_contact_plugin.getAppointmentForm_field_name,
                            required:'TRUE'
                        }" />

                        <f:comment>
                            <!-- phone -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.getAppointmentForm_field_phone_label,
                            name:'phone',
                            mask:settings.rd_contact_plugin.getAppointmentForm_field_phone_mask_template,
                            placeholder:settings.rd_contact_plugin.getAppointmentForm_field_phone,
                            required:'TRUE'
                        }" />

                        <f:if condition="{settings.rd_contact_plugin.useGetAppointmentForm_field_email}">
                            <f:comment>
                                <!-- email -->
                            </f:comment>
                            <f:render section="Input" arguments="{
                                label:settings.rd_contact_plugin.getAppointmentForm_field_email_label,
                                name:'email',
                                type:'email',
                                placeholder:settings.rd_contact_plugin.getAppointmentForm_field_email,
                                required:'TRUE'
                            }" />
                        </f:if>

                        <f:comment>
                            <!-- date -->
                        </f:comment>
                        <f:render section="Input" arguments="{
                            label:settings.rd_contact_plugin.getAppointmentForm_field_date_label,
                            name:'date',
                            mask:settings.rd_contact_plugin.getAppointmentForm_field_date_mask_template,
                            placeholder:settings.rd_contact_plugin.getAppointmentForm_field_date_pl,
                            required:'TRUE'
                        }" />

                        <f:comment>
                            <!-- submit -->
                        </f:comment>
                        <f:render section="Submit"
                            arguments="{value:settings.rd_contact_plugin.getAppointmentForm_field_submit}" />

                        <f:form.textfield type="hidden" name="currentURL"
                            value="{f:cObject(typoscriptObjectPath: 'lib.currentURL')}" />
                    </f:form>
                </f:case>
            </f:switch>
        </div>
    </f:defaultCase>
</f:switch>

<f:section name="Input">
    <div class="form-group">
        <label>{label}</label>
        <f:form.textfield name="{name}" type="{type}" additionalAttributes="{data-mask: '{mask}'}"
            placeholder="{placeholder}" class="form-control" required="{required}" />
    </div>
</f:section>

<f:section name="Textarea">
    <div class="form-group">
        <label>{label}</label>
        <f:form.textarea name="{name}" placeholder="{placeholder}" class="form-control" required="{required}" />
    </div>
</f:section>

<f:section name="Submit">
    <f:form.submit class="btn btn-primary" value="{settings.rd_contact_plugin.callMeForm_field_submit}" />
</f:section>

</html>