<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{contactOption.optionType} == 2">
        <div class="form-container" data-form-id="{formId}">
            <f:format.raw>{contactOption.embed}</f:format.raw>
        </div>
    </f:if>
    <f:if condition="{contactOption.optionType} == 4">
        <div class="form-container" data-form-id="{formId}">
            <f:if condition="{contactOption.contentElements}">
                <f:cObject typoscriptObjectPath="lib.rd_contact_plugin.contentElementRendering">{contactOption.contentElementIdList}</f:cObject>
            </f:if>
        </div>
    </f:if>
</html>
