<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <h2>{settings.rd_contact_plugin.answerMeByEmailLabel}</h2>
    <f:if condition="{settings.rd_contact_plugin.answerMeByEmailFormDescription}">
        <p>{settings.rd_contact_plugin.answerMeByEmailFormDescription}</p>
    </f:if>

    <f:form class="row" action="answermebyemailformHandler" extensionName="rd_contact_plugin" pluginName="EmailActions" controller="Email" pageType="453299" method="POST">
        
        <!-- name -->
        <div class="col-md-6 rd-input-wrapper">
            <label>
                {settings.rd_contact_plugin.answerMeByEmailForm_field_name_label}
                <f:form.textfield name="name" placeholder="{settings.rd_contact_plugin.answerMeByEmailForm_field_name_placeholder}" class="rd-input" required="TRUE" errorClass="error" />
            </label>
        </div>

        <!-- email -->
        <div class="col-md-6 rd-input-wrapper">
            <label>
                {settings.rd_contact_plugin.answerMeByEmailForm_field_email_label}
                <f:form.textfield name="email" placeholder="{settings.rd_contact_plugin.answerMeByEmailForm_field_email_placeholder}" class="rd-input" type="email" required="TRUE" errorClass="error" />
            </label>
        </div>

        <!-- question -->
        <div class="col-md-12 rd-input-wrapper">
            <label>
                {settings.rd_contact_plugin.answerMeByEmailForm_field_question_label}
                <f:form.textarea name="question" placeholder="{settings.rd_contact_plugin.answerMeByEmailForm_field_question_placeholder}" class="rd-input" required="TRUE" errorClass="error" />
            </label>
        </div>

        <!-- submit -->
        <div class="col-md-12 rd-input-wrapper">
            <f:form.submit value="{settings.rd_contact_plugin.answerMeByEmailForm_field_submit}" />
        </div>

        <f:form.textfield type="hidden" name="currentURL" value="{f:cObject(typoscriptObjectPath: 'lib.currentURL')}" />
        
    </f:form>
        
</html>
