<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <h2>{settings.rd_contact_plugin.callMeLabel}</h2>
    <f:if condition="{settings.rd_contact_plugin.callMeFormDescription}">
        <p>{settings.rd_contact_plugin.callMeFormDescription}</p>
    </f:if>

    <f:form class="row" action="callmeformHandler" extensionName="rd_contact_plugin" pluginName="EmailActions" controller="Email" pageType="453299" method="POST">
        
        <!-- name -->
        <div class="col-md-6 rd-input-wrapper">
            <label>
                {settings.rd_contact_plugin.callMeForm_field_name_label}
                <f:form.textfield name="name" placeholder="{settings.rd_contact_plugin.callMeForm_field_name}" class="rd-input" required="TRUE" errorClass="error" />
            </label>
        </div>

        <!-- phone -->
        <div class="col-md-6 rd-input-wrapper">
            <label>
                {settings.rd_contact_plugin.callMeForm_field_phone_label}
                <f:form.textfield name="phone" additionalAttributes="{data-mask: '{settings.rd_contact_plugin.callMeForm_field_phone_mask_template}'}" placeholder="{settings.rd_contact_plugin.callMeForm_field_phone}" class="rd-input input-mask-simple" required="TRUE" errorClass="error" />
            </label>
        </div>

        <!-- email -->
        <f:if condition="{settings.rd_contact_plugin.useCallMeForm_field_email}">
            <div class="col-md-6 rd-input-wrapper">
                <label>
                    {settings.rd_contact_plugin.callMeForm_field_email_label}
                    <f:form.textfield name="email" placeholder="{settings.rd_contact_plugin.callMeForm_field_email}" class="rd-input" type="email" required="TRUE" errorClass="error" />
                </label>
            </div>
        </f:if>

        <!-- date -->
        <div class="col-md-6 rd-input-wrapper">
            <label>
                {settings.rd_contact_plugin.callMeForm_field_date_label}
                <f:form.textfield name="date" additionalAttributes="{data-mask: '{settings.rd_contact_plugin.callMeForm_field_date_mask_template}'}" placeholder="{settings.rd_contact_plugin.callMeForm_field_date_pl}" class="rd-input input-mask-simple" errorClass="error" />
            </label>
        </div>

        <!-- submit -->
        <div class="col-md-12 rd-input-wrapper">
            <f:form.submit value="{settings.rd_contact_plugin.callMeForm_field_submit}" />
        </div>
        
    </f:form>
        
</html>
