$main-color: #7daf65 !default;
$text-color: #585858 !default;
$light-bg-color: #fff !default;
$dark-bg-color: #000 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;