{f:translate(key: 'getAppointment_form.email_description', extensionName: 'rd_contact_plugin')} {name}

<f:if condition="{currentURL}">
    <br />{f:translate(key: 'all_forms.visitor_page', extensionName: 'rd_contact_plugin')}: {currentURL} (<a href="{currentURL}">Open</a>)
</f:if>

<ul>
    <li>{f:translate(key: 'getAppointment_form.email_field.name', extensionName: 'rd_contact_plugin')}: {name}</li>

    <f:if condition="{email}">
        <li>{f:translate(key: 'getAppointment_form.email_field.email', extensionName: 'rd_contact_plugin')}: {email}</li>
    </f:if>
        
    <li>{f:translate(key: 'getAppointment_form.email_field.phone', extensionName: 'rd_contact_plugin')}: {phone}</li>
    <li>{f:translate(key: 'getAppointment_form.email_field.date', extensionName: 'rd_contact_plugin')}: 
        <f:if condition="{date}">
            <f:then>
                {date}
            </f:then>
            <f:else>
                {f:translate(key: 'getAppointment_form.email_field.date.now', extensionName: 'rd_contact_plugin')}
            </f:else>
        </f:if>
    </li>
</ul>