<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

    <!-- Contact plugin -->
    <div class="inner ">

        <!-- button content -->
        <div class="contact-btn-shadow shadow1">
            <div class="cbutton cbutton--effect-jelena run"></div>
        </div>
        <div class="contact-btn-shadow shadow2"></div>
        <f:image src="EXT:rd_contact_plugin/Resources/Public/icons/telephone.svg" treatIdAsReference="1" class="contact-btn-icon" />
        <!-- button content -->

        <div class="possible-cases">
            <ul>

                <!-- MobilePhone -->
                <f:if condition="{settings.rd_contact_plugin.useMobilePhone}">
                    <f:if condition="{settings.rd_contact_plugin.mobilePhone}">
                        <f:if condition="{settings.rd_contact_plugin.mobilePhoneLabel}">
                            <li>
                                <a href="tel:{settings.rd_contact_plugin.mobilePhone}" class="link-case">
                                    <f:image src="{settings.rd_contact_plugin.mobilePhoneIcon}" treatIdAsReference="1" class="p-c-icon" />
                                    {settings.rd_contact_plugin.mobilePhoneLabel}
                                </a>
                            </li>
                        </f:if>
                    </f:if>
                </f:if>
                <!-- MobilePhone -->

                <!-- GetAppointment -->
                <f:if condition="{settings.rd_contact_plugin.getAppointmentForm_email_recieverEmail}">
                    <f:if condition="{settings.rd_contact_plugin.useGetAppointment}">
                        <f:if condition="{settings.rd_contact_plugin.getAppointmentLabel}">
                            <li>
                                <a data-modal="GetAppointmentForm" class="link-case open-modal-form">
                                    <f:image src="{settings.rd_contact_plugin.getAppointmentFormIcon}" treatIdAsReference="1" class="p-c-icon" />
                                    {settings.rd_contact_plugin.getAppointmentLabel}
                                </a>
                            </li>
                        </f:if>
                    </f:if>
                </f:if>
                <!-- GetAppointment -->

                <!-- CallMe -->
                <f:if condition="{settings.rd_contact_plugin.callMeForm_email_recieverEmail}">
                    <f:if condition="{settings.rd_contact_plugin.useCallMe}">
                        <f:if condition="{settings.rd_contact_plugin.callMeLabel}">
                            <li>
                                <a data-modal="CallMeForm" class="link-case open-modal-form">
                                    <f:image src="{settings.rd_contact_plugin.callMeFormIcon}" treatIdAsReference="1" class="p-c-icon" />
                                    {settings.rd_contact_plugin.callMeLabel}
                                </a>
                            </li>
                        </f:if>
                    </f:if>
                </f:if>
                <!-- CallMe -->

                <!-- AnswerMeByEmail -->
                <f:if condition="{settings.rd_contact_plugin.answerMeByEmailForm_email_recieverEmail}">
                    <f:if condition="{settings.rd_contact_plugin.useAnswerMeByEmail}">
                        <f:if condition="{settings.rd_contact_plugin.answerMeByEmailLabel}">
                            <li>
                                <a data-modal="AnswerMeByEmailForm" class="link-case open-modal-form">
                                    <f:image src="{settings.rd_contact_plugin.answerMeByEmailFormIcon}" treatIdAsReference="1" class="p-c-icon" />
                                    {settings.rd_contact_plugin.answerMeByEmailLabel}
                                </a>
                            </li>
                        </f:if>
                    </f:if>
                </f:if>
                <!-- AnswerMeByEmail -->

                <!-- useViber -->
                <f:if condition="{settings.rd_contact_plugin.useViber}">
                    <f:if condition="{settings.rd_contact_plugin.viber}">
                        <f:if condition="{settings.rd_contact_plugin.viberLabel}">
                            <li>
                                <a href="viber://chat?number={settings.rd_contact_plugin.viber}" class="link-case" target="_blank">
                                    <f:image src="{settings.rd_contact_plugin.viberIcon}" treatIdAsReference="1" class="p-c-icon" />
                                    {settings.rd_contact_plugin.viberLabel}
                                </a>
                            </li>
                        </f:if>
                    </f:if>
                </f:if>
                <!-- useViber -->

                <!-- useFbMessenger -->
                <f:if condition="{settings.rd_contact_plugin.useFbMessenger}">
                    <f:if condition="{settings.rd_contact_plugin.fbMessengerUrl}">
                        <f:if condition="{settings.rd_contact_plugin.fbMessengerLabel}">
                            <li>
                                <a href="{settings.rd_contact_plugin.fbMessengerUrl}" class="link-case" target="_blank">
                                    <f:image src="{settings.rd_contact_plugin.fbMessengerIcon}" treatIdAsReference="1" class="p-c-icon" />
                                    {settings.rd_contact_plugin.fbMessengerLabel}
                                </a>
                            </li>
                        </f:if>
                    </f:if>
                </f:if>
                <!-- useFbMessenger -->

            </ul>
        </div>
    </div>
    <!-- Contact plugin -->

    <!-- include modal boxes -->
    <f:render partial="ModalBoxesList" arguments="{_all}" />

</f:section>
</html>