<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="Main">

    <f:debug>{_all}</f:debug>

    <!-- Contact plugin -->
    <div class="inner ">

        <!-- button content -->
        <div class="contact-btn-shadow shadow1">
            <div class="cbutton cbutton--effect-jelena run"></div>
        </div>
        <div class="contact-btn-shadow shadow2"></div>
        <f:image src="EXT:rd_contact_plugin/Resources/Public/icons/telephone.svg" treatIdAsReference="1" class="contact-btn-icon" />
        <!-- button content -->

        <div class="possible-cases">
            <ul>

                <!-- useMobilePhone -->
                <f:if condition="{settings.rd_contact_plugin.useMobilePhone}">
                    <f:if condition="{settings.rd_contact_plugin.mobilePhone}">
                        <f:if condition="{settings.rd_contact_plugin.mobilePhoneLabel}">
                            <li>
                                <a href="tel:{settings.rd_contact_plugin.mobilePhone}" class="link-case">
                                    <f:image src="EXT:rd_contact_plugin/Resources/Public/icons/phone-receiver.svg" treatIdAsReference="1" class="p-c-icon" />
                                    {settings.rd_contact_plugin.mobilePhoneLabel}
                                </a>
                            </li>
                        </f:if>
                    </f:if>
                </f:if>
                <!-- useMobilePhone -->

                <!-- useCallMe -->
                <f:if condition="{settings.rd_contact_plugin.useCallMe}">
                    <f:if condition="{settings.rd_contact_plugin.callMeLabel}">
                        <li>
                            <a data-modal="call-me-form" class="link-case open-modal-form">
                                <f:image src="EXT:rd_contact_plugin/Resources/Public/icons/earphones.svg" treatIdAsReference="1" class="p-c-icon" />
                                {settings.rd_contact_plugin.callMeLabel}
                            </a>
                        </li>
                    </f:if>
                </f:if>
                <!-- useCallMe -->

            </ul>
        </div>
    </div>
    <!-- Contact plugin -->

    <!-- include modal boxes -->
    <f:render partial="ModalBoxesList" arguments="{_all}" />

</f:section>
</html>